

.window {
  text-align: center;
  padding-left: 25%;
}

.redletter {
  color: red;
}



.link a {
  text-decoration: none;
  color:black;
}

.link a:visited {
  text-decoration: none;
  color:black;
}

body {
  background-image:url("http://sc01.alicdn.com/kf/HTB1PptxJpXXXXXWXXXXq6xXFXXXL/Piel-colorida-para-la-etiqueta-engomada-de.jpg");
  
}

.scotch {
  text-align: center;
  padding-top: 105px;
}

.picture {
  text-align: center;
  padding-left: 25%;
  padding-top: 115px;
}

.link {
  font-size: 20;
  text-align: center;
  padding-top: 150px;
}
